@import "variables";
@import "mixins";

.dev{
    width: 80%;
    @include mobile-only{
        width: 100%;
    }
    h2{
        text-transform: uppercase;
    }
    h1{
        text-transform: uppercase;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        padding: 15px 0;
        position: relative;
        margin: 0;
        font-size: 25px;
        width: 50%;
        @include tablette-only{
            width: 70%;
        }
      }
    h1::after{
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background: $color-2;
        right: 0;
        top: 50%;
        margin-left: 5%;
        position: relative;
        @include mobile-only{
            display: none;
        }
    }



    .project{
        margin: 7% 0 13% 0 ;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        @include mobile-only{
            margin: 10% 0 20% 0 ;
        }
        p{
            font-size: 0.7rem;
            font-weight: 200;
        }
        .left{
            width: 60%;
            @include mobile-only{
                width: 60%;
                margin: 0;
            }
            .desktop-video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
                @include tablette-only{
                    width: 100%;
                    height: 100%;
                }
                @include mobile-only{
                    display: none;
                }
            }
            .tablet-video{
                display: none;
                @include tablette-only{
                    display: block;
                    margin-left: 0;
                    
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
                @include mobile-only{
                    display: none;
                }
            }
            .mobile-video{
                display: none;
                @include mobile-only{
                    display: block;
                    margin-left: 0;
                    width: 100%;
                    border-radius: 5px;
                }
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
            .confluences{
                @include tablette-only{
                    display: none;
                }
            }
        }    
        .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            @include mobile-only{
                width: 70%;
                margin: 0;
            }
            .description{
                background-color: #00030076;
                width: 100%;
                height: 25%;
                padding: 1%  8%;
                p{

                    font-family: $font-3;
                    color: $color-6;
                    font-size: 0.7rem;
                    font-weight: 400;
                    text-align: right;
                    @include mobile-only{
                        font-size: 0.3rem;
                    }
                }
                @include tablette-only{
                    padding: 7%;
                }
            }
            .skills{
                color: $color-5;
                display: inline-block;  
                word-spacing: 1rem;
                p{
                    @include mobile-only{
                        font-size: 0.3rem;
                    }
                }



            }
            .social{
                display: flex;
                justify-content: flex-end;

                
                a{
                    text-decoration: none;
                    color: $color-2;
                    padding: 25%;
                }
                i{
                    color: $color-2;
                    font-size: 1.5rem;
                }
            }
        
        }
        

        
    }


    // .projects{
    //     width: 80%;
    //     height: 100%;
    //     margin: 0 auto;
    //     margin-top: 5%;
    //     padding: 1%;
    //     .project{
    //         border-left: 2px solid $color-2;
    //         margin-top: 0;
    //         width: 100%;
    //         height: 100vh;
    //         background: rgb(33, 33, 64, 0.5);
    //         transition: .5s ease;

    //         .videos{
    //             display: flex;
    //             align-items: flex-end;
    //             justify-content: space-evenly;
    //             text-align: center;
    //             width: 60%;

    //             video{
    //                 width: 50%;
    //                 border: 2px solid $color-2;
    //                 box-shadow: 0 0 0.75rem $color-2;
    //                 border-radius: 5px;
    //             }
    //             .vertical{
    //                 width: 9%;
    //                 position: absolute;
    //                 left: 45%;

    //             }
    //             .horizontal{
    //                 width: 70%;
    //                 display: block;
    //             }

    //         }
    //     }

    // }
    .description{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0;
        padding-top: 0;
        h2{
            padding-top: 0;
        }


    }
}
.project:hover{
    box-shadow:
    1px 1px #0000001a,
    2px 2px #0000001a,
    3px 3px #0000001a,
    4px 4px #0000001a,
    5px 5px #0000001a,
    6px 6px #0000001a;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}