@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Orbitron", sans-serif;
  padding: 16px;
  margin: 0;
  background-color: #223149;
  color: #EBF4F5;
}
body .logo-lp {
  list-style: none;
  text-decoration: none;
  color: #EBF4F5;
}
body h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
}
body .center {
  text-align: center;
}
body section {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
}
body header {
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #223149;
  /* NAVIGATION */
  /* stroke animation  */
}
body header .responsive-label {
  display: none;
}
@media screen and (max-width: 767px) {
  body header .responsive-label {
    display: block;
    font-size: 30px;
    color: #EBF4F5;
    cursor: pointer;
    right: 0px;
  }
}
body header .responsive-label:active {
  color: black;
}
body header nav {
  background: transparent;
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  body header nav {
    display: none;
    flex-direction: column;
    height: 220px;
  }
}
body header nav ol {
  text-align: center;
  display: flex;
}
body header nav ol li {
  list-style-position: inside;
  text-align: center;
  margin: 0 20px;
}
body header nav ol li a {
  text-decoration: none;
  color: #EBF4F5;
  font-weight: 500;
}
body header nav ol li,
body header nav ol li :after,
body header nav ol li :before {
  transition: all 0.5s;
}
body header nav ol li :hover {
  color: #fcf6bd;
}
body header nav ol li :active {
  color: #fcf6bd;
}
body header nav.stroke ol li a,
body header nav.fill ol li a {
  position: relative;
}
body header nav.stroke ol li :after,
body header nav.fill ol li :after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fcf6bd;
  height: 1px;
}
body header nav.stroke ol li :hover:after {
  width: 100%;
}
body header nav.fill ol li {
  transition: all 2s;
}
body header nav.fill ol li :after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
body header nav.fill ol li :hover {
  color: transparent;
  z-index: 1;
}
body header nav.fill ol li :hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
body header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body footer {
  position: absolute;
  left: 0;
  right: 0;
  background: #000;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  align-items: center;
}
body footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
body footer .footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
body footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
body footer .footer-content .socials {
  display: none;
}
@media screen and (max-width: 767px) {
  body footer .footer-content .socials {
    display: block;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  body footer .footer-content .socials li {
    margin: 0 10px;
  }
  body footer .footer-content .socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }
  body footer .footer-content .socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
  }
  body footer .footer-content .socials a:hover i {
    color: #fcf6bd;
  }
}
body footer .footer-bottom {
  background: #000;
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
}
body footer .footer-bottom p {
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
}
@media screen and (max-width: 767px) {
  .timeline-container {
    transform: rotate(-90deg);
  }
}
.timeline-container h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}
.timeline-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}
.timeline-container .timeline {
  border-top: 2px solid #EBF4F5;
  height: 2px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.timeline-container .arrow-right {
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid #EBF4F5;
  right: 10%;
  position: absolute;
}
.timeline-container .arrow-right:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #EBF4F5;
  top: -21px;
  left: 1px;
  right: 10%;
  position: absolute;
}
.timeline-container .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}
.timeline-container .steps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 100%;
}
.timeline-container .steps .step .text {
  height: 100px;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .timeline-container .steps .step .text {
    transform: rotate(90deg);
  }
}
.timeline-container .steps .step .vertical {
  border-left: 2px solid #EBF4F5;
  height: 50px;
  align-self: center;
}
.timeline-container .steps:hover {
  cursor: pointer;
}
.timeline-container .steps:hover .vertical {
  border-left: 3.5px solid #EBF4F5;
  height: 70px;
}

.intro-container {
  width: 100%;
  margin: 0 auto;
  padding: 1%;
  border-left: 2px solid #EBF4F5;
  transition: 0.5s ease;
}
.intro-container h1 {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 800;
  color: #EBF4F5;
  margin: 0;
  padding: 0;
}
.intro-container h2 {
  text-align: start;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #EBF4F5;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .intro-container {
    width: 100%;
    padding: 0;
    border: none;
    margin-top: 10%;
  }
}
.intro-container .intro {
  padding-left: 10%;
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .intro-container .intro {
    display: flex;
    width: 80%;
  }
}
.intro-container .social {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding-top: 3%;
}
.intro-container .social a {
  text-decoration: none;
  color: #EBF4F5;
  width: 100%;
}
.intro-container .social i {
  color: #EBF4F5;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .intro-container .social {
    width: 100%;
    height: 50%;
    flex-direction: column;
  }
  .intro-container .social i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .intro-container .social {
    width: 100%;
  }
  .intro-container .social i {
    font-size: 1.5rem;
  }
}

.intro-container:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1019607843), 2px 2px rgba(0, 0, 0, 0.1019607843), 3px 3px rgba(0, 0, 0, 0.1019607843), 4px 4px rgba(0, 0, 0, 0.1019607843), 5px 5px rgba(0, 0, 0, 0.1019607843), 6px 6px rgba(0, 0, 0, 0.1019607843);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.dev {
  width: 80%;
}
@media screen and (max-width: 767px) {
  .dev {
    width: 100%;
  }
}
.dev h2 {
  text-transform: uppercase;
}
.dev h1 {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: 15px 0;
  position: relative;
  margin: 0;
  font-size: 25px;
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .dev h1 {
    width: 70%;
  }
}
.dev h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #EBF4F5;
  right: 0;
  top: 50%;
  margin-left: 5%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .dev h1::after {
    display: none;
  }
}
.dev .project {
  margin: 7% 0 13% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .dev .project {
    margin: 10% 0 20% 0;
  }
}
.dev .project p {
  font-size: 0.7rem;
  font-weight: 200;
}
.dev .project .left {
  width: 60%;
}
@media screen and (max-width: 767px) {
  .dev .project .left {
    width: 60%;
    margin: 0;
  }
}
.dev .project .left .desktop-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
@media screen and (max-width: 1023px) {
  .dev .project .left .desktop-video {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .dev .project .left .desktop-video {
    display: none;
  }
}
.dev .project .left .tablet-video {
  display: none;
}
@media screen and (max-width: 1023px) {
  .dev .project .left .tablet-video {
    display: block;
    margin-left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 767px) {
  .dev .project .left .tablet-video {
    display: none;
  }
}
.dev .project .left .mobile-video {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .dev .project .left .mobile-video {
    display: block;
    margin-left: 0;
    width: 100%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 1023px) {
  .dev .project .left .confluences {
    display: none;
  }
}
.dev .project .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .dev .project .right {
    width: 70%;
    margin: 0;
  }
}
.dev .project .right .description {
  background-color: rgba(0, 3, 0, 0.462745098);
  width: 100%;
  height: 25%;
  padding: 1% 8%;
}
.dev .project .right .description p {
  font-family: "Poppins", sans-serif;
  color: #e8edfb;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .dev .project .right .description p {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 1023px) {
  .dev .project .right .description {
    padding: 7%;
  }
}
.dev .project .right .skills {
  color: #bfbfbf;
  display: inline-block;
  word-spacing: 1rem;
}
@media screen and (max-width: 767px) {
  .dev .project .right .skills p {
    font-size: 0.3rem;
  }
}
.dev .project .right .social {
  display: flex;
  justify-content: flex-end;
}
.dev .project .right .social a {
  text-decoration: none;
  color: #EBF4F5;
  padding: 25%;
}
.dev .project .right .social i {
  color: #EBF4F5;
  font-size: 1.5rem;
}
.dev .description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0;
  padding-top: 0;
}
.dev .description h2 {
  padding-top: 0;
}

.project:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1019607843), 2px 2px rgba(0, 0, 0, 0.1019607843), 3px 3px rgba(0, 0, 0, 0.1019607843), 4px 4px rgba(0, 0, 0, 0.1019607843), 5px 5px rgba(0, 0, 0, 0.1019607843), 6px 6px rgba(0, 0, 0, 0.1019607843);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.fixed-social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #EBF4F5;
}
.fixed-social ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.fixed-social ul li a {
  text-decoration: none;
  color: #EBF4F5;
  width: 100%;
}
.fixed-social ul li i {
  color: #EBF4F5;
  font-size: 1.5rem;
  padding: 20% 0;
  margin-bottom: 50%;
}
.fixed-social ul li:hover {
  transition: 0.5s;
  transform: translateY(-10px) scale(1.1);
}
@media screen and (max-width: 767px) {
  .fixed-social {
    display: none;
  }
}

.fixed-social:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #EBF4F5;
  transform: rotate(90deg);
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */